# 가상환경 제외
.venv_xpu/
venv_xpu


#pycache 
__pycache__/*


# data 내부에서 frames와 videos는 제외
data/frames/*
data/videos/*

#영상 제외
*.mp4
server/*.mp4
test/*.mp4

# .npz 
npz_sequences/*
npz_sequences/*.npz

#calibration_dataset
calibration_dataset/normal_road/*.jpg
calibration_dataset/snow_road/*.jpg
calibration_dataset/wet_road/*.jpg

